body, html{
    height: 100%;
    margin:0;
    font-size:16px;
    font-family: "lato",sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
}
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color:black;
}
body{
    font-family: arial;
}
ul{
    list-style: none;
}
nav{
    background-color:rgba(16,16,16,.5);
    width: 350px;
    height: 100%;
    left: -350px;
    position: absolute;
    transition: all .5s;
}
input[type="checkbox"]:checked ~ nav 
{
    transform: translateX(350px);
}
ul{
    top: 70px;
    position: absolute;
    width: 100%;
}
.arruma ul{
    top: 70px;
}
.arruma{
    display:block;
    padding: 20px 5px;
    color:white;
}
.arruma:hover
{
    background-color: rgb(240, 21, 21);
    color:black;
}
label{
    padding:15px;
    position: absolute;
    z-index: 1;
}

input[type="checkbox"]
{
    display: none;
}
.menu-principal{
    width: 100%;
    background-color:#252323;
    height: 60px;
    }
    main, .content {
    margin: 0 auto;
    width: 980px;
    position: relative;
    }
    .logo{
    float: left;
    padding: 16px;
    width: 70%;
    }
    .redes-sociais ul li {
    margin-left: 25px;
    display: inline-block;
    float: left;
    list-style: none;
    margin-top: -50px;
    height: 51px;
    }
    .redes-sociais {
    width: 25%;
    float: right;
    }
.pimg1,.pimg2,.pimg3,.pimg4,.pimg5,.pimg6,.pimg7,.pimg8,.pimg9{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
    fixo=paralaxx
    rolagem=normal 
    */
    background-attachment: fixed;
}

.pimg1{
    background-image:url('./img/img1\ fundo\ vermelho.png');
    min-height: 80%;
}
.pimg2{
    background-image:url('./img/alquimist\ img\ 1.png');
    min-height: 100%;
}

.pimg3{
    background-image:url('./img/kimetsu\ img\ 2.png');
    min-height: 100%;
}

.pimg4{
    background-image:url('./img/one\ punch\ img\ 3.png');
    min-height: 100%;
}

.pimg5{
    background-image:url('./img/violet\ img\ 4.png');
    min-height: 100%;
}

.pimg6{
    background-image:url('./img/fatezero\ img\ 5.png');
    min-height: 100%;
}

.pimg7{
    background-image:url('./img/devilman\ img\ 6.png');
    min-height: 100%;
}

.pimg8{
    background-image:url('./img/great\ img\ 7.png');
    min-height: 100%;
}

.pimg9{
    background-image:url('./img/aggtsuko\ img\ 8.jpg'); 
    min-height:  100%;
}

.section{
    text-align: center;
    padding:50px 80px;
}

.section-light {
    background-color:#f4f4f4;
    color:#666;
    text-align: center;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background: color #111;
    color: #fff;
    padding: 20px;
}

.ptext .border .trans {
    background-color: transparent;
}

@media(max-whidht:568px){
    .pimg1,.pimg2,.pimg3,.pimg4,.pimg5,.pimg6,.pimg7,.pimg8,.pimg9{
        background-attachment: scroll;
    }
}